:root {
  --Navy-blue: #2e2f42;
  --Slate: #434455;
  --Iris: #4d5ae5;
  --Cloud: #f4f4fd;
  --White: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--White);
  color: var(--Slate);
}
/* Header */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 120px 0px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  align-items: center;
}
.portfolio {
  padding-top: 96px;
}
.filters {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--Iris);
}
.logo-studio {
  margin-right: 77px;
  color: var(--Navy-blue);
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.header-menu .link:hover,
.header-menu .link:focus {
  color: var(--Iris);
}

.header-menu .link:active {
  color: var(--Iris);
}
.header-menu .link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--Navy-blue);
}
.header-contact {
  display: flex;
  align-items: center;
}
.contacts {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--Iris);
}
.contacts-mail {
  margin-left: 331px;
  margin-right: 40px;
}
.contacts-number {
  margin-left: 0px;
}
.hero {
  padding: 192px 0px;
  background-color: var(--Navy-blue);
  text-align: center;
}
.hero-title {
  width: 500px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px auto;
  color: var(--White);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  line-height: 1.18;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  background: #4d5ae5;
  border: none;
  padding: 16px 32px;
  color: #ffffff;
}
/* Filters */
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.filters-list:not(:last-child) {
  margin-right: 24px;
}
.filters-btn {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--Iris);
  padding: 12px 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--Iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--White);
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
  margin-bottom: 72px;
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
  padding-bottom: 72px;
}
.section-benefits-list:not(:last-child) {
  margin-right: 24px;
}
.section-team-list {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #e7e9fc;
}
.benefits-list {
  display: flex;
}
.section-benefits {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}
.section-benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.products-list {
  margin-top: 72px;
  display: flex;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
  margin-top: 32px;
  margin-bottom: 8px;
}
.professions {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Section PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--Navy-blue);
}
.projects-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}

.projects-list {
  width: calc((100% - 50px) / 3);
  background: #ffffff;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-img {
  margin: 0;
  border: 0;
}

.project-info {
  padding: 0 0 20px 20px;
}

/* Footer */
.footer {
  background: var(--Navy-blue);
}
.footer-studio {
  margin-bottom: 16px;
  color: var(--Cloud);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  color: #e7e9fc;
}
.footer div {
  padding-top: 100px;
  padding-bottom: 100px;
}
