body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--White);
  color: var(--Slate);
}
:root {
  --Navy-blue: #2e2f42;
  --Slate: #434455;
  --Iris: #4d5ae5;
  --Cloud: #f4f4fd;
  --White: #ffffff;
}

li {
  list-style-type: none;
}
/* Header */
.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--Iris);
}
.logo-studio {
  color: var(--Navy-blue);
}

.header-menu .link:hover,
.header-menu .link:focus {
  color: var(--Iris);
}

.header-menu .link:active {
  color: var(--Iris);
}
.header-menu .link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--Navy-blue);
}
.contacts {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--Iris);
}
.hero {
  background-color: var(--Navy-blue);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--White);
}
.hero-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  line-height: 1.18;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  background: #4d5ae5;
  color: #ffffff;
}
/* Filters */

.filters-btn {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--Cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--Iris);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--Iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--White);
}
.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--Navy-blue);
}
.section-benefits {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}
.section-benefits-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}
.professions {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Section */
.projects-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-blue);
}
.projects-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}

/* Footer */
.footer {
  background: var(--Navy-blue);
}
.footer-studio {
  color: var(--Cloud);
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
